@model PBP.Web.Models.Domain.PartyCost

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PartyCost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PartyCostID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartyCostID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PartyMemberID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PartyMemberID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostWage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostWage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalaryRankWage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalaryRankWage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Allowance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Allowance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PerformanceWage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PerformanceWage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnionCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnionCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MedicalInsurance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MedicalInsurance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnemploymentInsurance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnemploymentInsurance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OldAgeInsurance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OldAgeInsurance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobAnnuity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobAnnuity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IndividualIncomeTax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IndividualIncomeTax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Guid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
